table {
    /*position: absolute;*/
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin-left: 10%;
    /*margin-top: 15%;*/
    float: left;

    /*border-style: solid;*/
}

th {
    font-size: 3.5vh;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    width: 50%;
    font-family: Montserrat;
}

td {
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

td:hover {
    background-color: #c98b87;
}

tr:nth-child(even) {
    background-color: #ffe1de;
}

#map {
    /*position: absolute;*/
    z-index: 999;
    /*top: calc(561% - 20%);*/
    /*left: 60%;*/
    height: 58%;  /* The height is 400 pixels */
    width: 30%;  /* The width is the width of the web page */
}

#map-container {
    margin-right: 10%;
    margin-bottom: 5%;
    float: right;
    width: 30%;
    height: 0;
    /*border-style: solid;*/
}

#logistics-title {
    margin-top: 5%;
    /*border-style: solid;*/
    font-family: Montserrat;
    font-size: 7vh;
    letter-spacing: 0.5vw;
    text-align: center;
    color: #f0b6b1;
}

#venue {
    /*position: absolute;*/
    /*top: calc(461% + 58% + 10% + 100% - 20%);*/
    /*left: 60%;*/
    width: 30%;
    height: 30%;
    background: #ffe1de;
    float: right;
    /*border-style: solid;*/
    margin-right: 10%;
}

#venue-container {
    margin-left: 8%;
    /*border-style: solid;*/
}

#venue-container h1, p {
    font-family: Montserrat;
}

#venue-container p {
    text-align: left;
}