table {
    position: absolute;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    left: 10%;
    top: 15%;
}

th {
    font-size: 3.5vh;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    width: 50%;
    font-family: Montserrat;
}

td {
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

td:hover {
    background-color: #c98b87;
}

tr:nth-child(even) {
    background-color: #ffe1de;
}

#map {
    position: absolute;
    z-index: 999;
    top: calc(561% - 30%);
    left: 60%;
    height: 58%;  /* The height is 400 pixels */
    width: 30%;  /* The width is the width of the web page */
}

#logistics-title {
    margin-top: 5%;
    font-family: Montserrat;
    font-size: 7vh;
    letter-spacing: 0.5vw;
    text-align: center;
    color: #f0b6b1;
}

#venue {
    position: absolute;
    top: calc(461% + 58% + 10% + 100% - 30%);
    left: 60%;
    width: 30%;
    height: 39%;
    background: #ffe1de;

}

#venue-container {
    margin-left: 8%;
}

#venue-container h1, p {
    font-family: Montserrat;
}

#venue-container p {
    text-align: left;
}