#title {
    color: red;
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: 10px;
}

.title-holder {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 10%;
    margin-top: -5%;
    text-align: center;
}

.bgimg-1 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("./Assets/logo.png");
    min-height: 100%;
}

#logo-section {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
}

#logo-img {
    position: absolute;
    opacity: 0.4;

    width: 30%;
    height: 60%;

    left: 50%;
    margin-left: -15%;

    top: 50%;
    margin-top: -15%;
}

#particles-js {
    height: 200%;
}

@font-face {
    font-family: Montserrat;
    src: url("montserrat/Montserrat-Thin.otf");
}
