#title {

    position: absolute;
    color: red;
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: 10px;
    width: 22%;
    left: calc((100% - 22%)/2);

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#title:hover {
    color: darkred;
}

.title-holder {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 10%;
    margin-top: -5%;
    text-align: center;
}

.bgimg-1 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("./Assets/logo.png");
    min-height: 100%;
}

#logo-section {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
}

#logo-img {
    position: absolute;
    opacity: 0.4;

    height: 60%;

    left: 49%;
    margin-left: -15%;

    top: 50%;
    margin-top: -15%;
}

#particles-js {
}

@font-face {
    font-family: Montserrat;
    src: url("../firebirdhacks2/montserrat/Montserrat-Thin.otf");
}

#faq {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    width: 40%;
    height: 100%;
    left: 30%;
}

.faqcomponent h2 {
    font-family: Montserrat;
    text-align: center;
}

.faqcomponent p {
    text-align: center;
    font-family: Montserrat;
}

.faqcomponent {
    width: 20%;
    height: 28%;
    padding: 1%;
    background: #ffe1de;
    opacity: 0.8;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.faqcomponent:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 1000;
}

/*for first row*/
.first-row {
    position: absolute;
    top: 18%;
    padding-left: 2%;
    padding-right: 2%;
}

.first-in-first-row {
    padding-left: 4%;
}

.last-in-first-row {
    padding-right: 4%;
}

#hackathon {
    position: absolute;
    left: 0;
}

#team {
    position: absolute;
    left: 26%;
}

#cost {
    position: absolute;
    left: 50%;
}

#description {
    position: absolute;
    left: 74%;
}

/*for second row*/

.second-row {
    position: absolute;
    top: calc(50% - 3px);
    padding-left: 5%;
    padding-right: 5%;
}

.first-in-second-row {
    padding-left: 10%;
}

.last-in-second-row {
    padding-right: 10%;
}

#prerequisites {
}

#is-needed {
    left: 35%;
}

#experience {
    left: 65%;
}

#filler {
    border-style: solid;
    border-width: 1px;
}




































